* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Colorss */
    --bright-orange:  hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    
    /* Neutral Colors */
    --transparent-white:hsla(0, 0%, 100%, 0.75);
    --very-light-gray:  hsl(0, 0%, 95%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-light-gray);
    width: 100%;
    min-height: 100vh;
}

.container {
    width: 900px;
    max-width: 900px;
    border-radius: 10px;
    overflow: hidden;
}
.column {
    float: left;
    width:33.33333333%;
    height: 500px;
    padding: 40px 10px 40px 50px; 
}
.left {
    background-color: var(--bright-orange);
}

.middle {
    background-color: var(--dark-cyan);
}

.right {
    background-color: var(--very-dark-cyan);
}

.column h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    padding: 8px 0px 12px;
    letter-spacing: 0.5px;
    color: var(--very-light-gray);
    padding-top: 25px;
}

.column p {
    color: var(--transparent-white);
    line-height: 175%;
    width: 80%;
    font-size: 15px;
    font-family: 'Lexcand Decay', sans-serif;
    font-weight: 400;
    padding-top: 25px;
    padding: 8px 0px 75px;
}

.column img {
    max-width: 80px;
}

.column a {
    border-radius: 50px;
    background-color: var(--very-light-gray);
    border: none;
    text-decoration: none;
    text-align: center;
    padding: 12px 30px;
    font-family: 'Lexcand Decay', sans-serif;
    font-size: 15px;
}

.column a:hover {
    background-color: transparent;
    color: var(--very-light-gray);
    border: 1px solid var(--very-light-gray);
}

.left a {
    color: var(--bright-orange);
}

.middle a {
    color: var(--dark-cyan);
}

.right a {
    color: var(--very-dark-cyan);
}

/* Responsive Mobile */

@media screen and (max-width: 900px) {
    .column {
      width: 100%;
      margin: auto;
      padding: 20px;
    }

    .container {
        width: 90%;
        border-radius: 10px;
        overflow: hidden;
        margin: 50px 0 50px 0;
    }

    body {
        font-size: 16px;
    }
  }